.footer {
  background-color: rgb(255, 153, 0);
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 100px;
  background-color: #f2f2f2;
}

.footer-top {
  border-bottom: 1px solid #dadce0;
}

.montenegro {
  display: flex;
  flex: 1;
  align-content: flex-start;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  margin-left: -10px;
  color: #70757a;
}

.footer-bottom {
  color: #70757a;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  gap: 300px;
}
.first-block {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.all-about-google {
}

.advertising {
}

.for-business {
}

.how-works-google-search {
}

.second-block {
  flex: 1;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.confidentiality {
}

.terms {
}

.settings {
}
