.footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 94px;
  background-color: var(--COLOR_LIGHT2_WHITE);
}

.footer-top {
  border-bottom: 1px solid var(--COLOR_LIGHT3_GRAY);
}

.montenegro {
  display: flex;
  padding: 15px 30px;
  color: var(--COLOR_GRAY);
  font-size: var(--FONT_SIZE_LARGE);
}

.footer-bottom {
  color: var(--COLOR_GRAY);
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

.first-block {
  flex-wrap: nowrap;
  display: flex;
}

.second-block {
  flex-wrap: nowrap;
  display: flex;
}

.bottom-link {
  color: var(--COLOR_GRAY);
  display: block;
  padding: 15px 15px;
}
