.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding-top: 5px;
}
.main-top {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
}

.form {
  box-sizing: border-box;
  background-color: var(--COLOR_WHITE);
  border-radius: 24px;
  border: 1px solid var(--COLOR_LIGHT2_GRAY);
  display: flex;
  flex: 1;
  align-items: center;
  margin-top: 26px;
  width: 100%;
  max-width: 584px;
  padding: 5px 8px 5px 14px;
}

.form:hover {
  box-shadow: 0 1px 6px var(--COLOR_TRANSLUCENT_BLACK);
}

.input-wrapper {
  margin-left: 10px;
  flex: 1;
}

.search-input {
  display: flex;
  flex: 1;
  height: 34px;
  width: 100%;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
}

.form-buttons {
  align-items: center;
  display: flex;
}

.glass {
  height: 20px;
  width: 20px;
  cursor: default;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  height: 24px;
  width: 24px;
}

.main-bottom {
  display: flex;
  margin-bottom: 24px;
  line-height: 52px;
  color: var(--COLOR_LIGHT_BLACK2);
  font-size: var(--FONT_SIZE_SMALL);
}

.buttons {
  padding-top: 18px;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
}

.search {
  display: inline-block;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: var(--COLOR_LIGHT1_WHITE);
  border: 1px solid var(--COLOR_LIGHT1_WHITE);
  padding: 0 16px;
  margin: 11px 6px 11px 4px;
  border-radius: 4px;
  line-height: 34px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  color: var(--COLOR_LIGHT_BLACK1);
  vertical-align: center;
}

.search:hover {
  border: 1px solid var(--COLOR_LIGHT3_GRAY);
  box-shadow: 0 1px 1px var(--COLOR_SHADOW);
}

.luck {
  display: inline-block;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: var(--COLOR_LIGHT1_WHITE);
  border: 1px solid var(--COLOR_LIGHT1_WHITE);
  padding: 0 16px;
  margin: 11px 4px 11px 6px;
  border-radius: 4px;
  line-height: 34px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  color: var(--COLOR_LIGHT_BLACK1);
  vertical-align: center;
}

.luck:hover {
  border: 1px solid var(--COLOR_LIGHT3_GRAY);
  box-shadow: 0 1px 1px var(--COLOR_SHADOW);
}

.lang-block {
  margin-left: 1px;
  display: inline-block;
  text-decoration: none;
  color: var(--COLOR_HEAVY2_BLUE);
  font-size: var(--FONT_SIZE_SMALL);
  text-align: center;
  padding-left: 10px;
}

.lang-block:first-child {
  padding-left: 6px;
}
