.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 92px;
  padding-top: 5px;
}
.main-top {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
}

.form {
  box-sizing: border-box;
  background-color: white;
  border-radius: 24px;
  border: 1px solid rgb(223, 225, 229);
  display: flex;
  flex: 1;
  align-items: center;
  margin-top: 26px;
  width: 100%;
  max-width: 584px;
  padding: 5px 8px 5px 14px;
}

.input-wrapper {
  margin-left: 10px;
  flex: 1;
}

.search-input {
  display: flex;
  flex: 1;
  height: 34px;
  width: 100%;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
}

.form-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.glass {
  height: 20px;
  width: 20px;
}

.form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  height: 24px;
  width: 24px;
}

.main-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 23px;
  line-height: 28px;

  color: #4d5156;
  font-size: 13px;
  text-align: center;
}

.buttons {
  margin-top: 29px;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  gap: 14px;
}

.search {
  background-color: #f8f9fa;
  padding: 10px 15px;
  border-radius: 4px;
}
.luck {
  background-color: #f8f9fa;
  padding: 10px 15px;
  border-radius: 4px;
}

.lang-block {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #1a0dab;
  font-size: 13px;
  text-align: center;
  padding-left: 10px;
}

.lang-block:first-child {
  padding-left: 7px;
}
